<% provide(:title, "About") %>

<!DOCTYPE html>

<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>

  <body>
    <h1>Sample App</h1>
  </body>
  <p>
    This is the about page
  </p>
</html>